[Desktop Entry]
Version=1.0
Name=PulseAudio Equaliser
GenericName=Equaliser
Comment=Equalise Sound  
Exec=qpaeq
Icon=multimedia-volume-control
StartupNotify=false
Type=Application
Categories=AudioVideo;Audio;Mixer;Qt;