[Desktop Entry]
Version=1.0
Comment=Restart Audio Service
GenericName=AudioRestart
Name=AudioRestart
Terminal=false
Type=Application
Exec=bash -c "pulseaudio -k && sudo alsa force-reload"
StartupNotify=false
Icon=multimedia-volume-control
